<%- include("header") %> 

<h2>About</h2>

<p>Ratikant. I am Rtaikant. Lorem Ratikant. Lorem Ipsum Ratikant. Ratikant is Ratikant. Ratikant means Ratikant. Ratikant was Ratikant. Ratikant will be Ratikant. Groot.</p>

<%- include("footer") %> 